body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 200px;
    margin-bottom: 270px;
}

h1 {
    margin-bottom: 20px;
    color: #007bff;
}

.option-link {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.option-link:hover {
    background-color: #0056b3;
}
/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

/* Estilo para el enlace en el pie de página */
footer a {
    color: #338bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilos para el encabezado */
.main-header {
    background-color: rgb(164, 229, 250);
    color: white;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav li {
    margin-right: 20px;
}

.main-nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #33a3ff;
}